@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/bg-dark-1x.webp");
  color: #fff;
}

@layer utilities {
  .transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .bg {
    @apply bg-stone-700 bg-opacity-50;
  }

  .animated-border {
    position: relative;
    padding: 10px 20px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
  }
}
